.post-image-div2{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(251, 249, 249);
}

.explore-tile {
    height: 400px;
    width: 400px;
    padding: 15px;
}

.post-image-button{
    border: none;
    background-color: rgb(251, 249, 249);
    border-radius: 4px;
    border-color: rgb(251, 249, 249);
}

.modal{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.post-image-div{
    height: 100%;
    width: 50%;
}

.post-image {
    height: 100%;
    width: 100%;
}

.post-content{
    background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.first{
    border-bottom: 1px solid rgb(209, 207, 207);
    width: 100%;
    height: 20%;
    color: black;
    display: flex;
    align-items: center;
}

.first-nav{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.first-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-follow{
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.username-bold,
.follow {
    font-weight: 600;
    font-size: 15px;
    width: 45%;
}

.user-avatar-div2{
    width: 100%;
    height: 50vw;
    color: black;
    display: flex;
    align-items: center;
}

.second-div{
    width: 100%;
    height: 15%;
}

.second{
    padding: 10px 1px 0px 0px;
    width: 47%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avatar2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(160, 158, 158);
}

.username-bold2{
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.post-caption{
    margin-left: 20px;
    margin-bottom: 6px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.comments-div{
    border-top: .7px solid rgb(228, 228, 228);
    border-bottom: .7px solid rgb(228, 228, 228);
    overflow-y: scroll;
    height: 50%; 
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}

.comments{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.comments-list{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /* margin-bottom: 20px; */
    /* margin: 3px 0px; */
}
.user-comment-avatar-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin-bottom: 10px; */
}

.user-comment-avatar{
    cursor: pointer;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    /* margin: 3px 0px; */
}

.user-comment-avatar2{
    width: 40px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.username-comment{
    font-size: 14px;
    font-weight: bolder;
    /* margin: 3px 0px; */
}

.user-comment{
    font-weight: bolder;
    color: black;
    
}

.comment{
    font-size: 12px;
    margin-left: 60px;
}

.icons2{
    width: 35%;
    height: 5%;
    display: flex; 
    justify-content: center;
    margin-top: 3px;
}

.post-comment-div{
    height: 16%;
    width: 100%;
    /* background-color: rgb(248, 246, 246); */
}

.post-comment{
    height: 99%;
    width: 100%;
    /* background-color: rgb(209, 205, 205); */
}


