*{
    font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,Helvetica,Arial,sans-serif;
}
.postsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 620px;
    background-color: rgb(250, 250, 250);
}

.individualPhotoDiv{
    border: 1px solid lightgray;
    margin: 10px;

    background-color: white;

}

.individualImg {
    width: 600px;

}

.icons {
    font-size: 20px;
    margin:  5px 10px;
}

.commentForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.commentDiv {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.commentInput, .commentButton {
    border: none;
    background-color: white;
    outline: none;
}

/* .allCommentsDiv{
    margin-left: 20px;
} */

.commentsandlikesDiv {
    margin-left: 13px;
}



.commentButton{
    color:  #0095f6;
}
.avatar{
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
}

.userInfo{
    margin: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 55px;
}

.user {
    font-weight: bold;
    cursor: pointer;
}

.editBtn {
    border: none;
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
}

.commentSpan{
    padding: 5px;
}
