*{
    font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,Helvetica,Arial,sans-serif;
}
.postsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.individualPhotoDiv{
    border: 1px solid lightgray;
    margin: 50px;
    background-color: white;
   
}

.individualImg {
    width: 600px;

}

.icons {
    font-size: 20px;
    margin: 5px;
}

.commentForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.commentDiv {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
.commentInput, .commentButton {
    border: none;
    background-color: white;
    outline: none;
}

.commentButton{
    color:  #0095f6;
}