.sign-up-form-container{
    /* display: flex;
    flex-direction: column; */
    border: 1px solid grey;
    height: 600px;
    width: 350px;
    margin-top: 20px;
    text-align: center;
}


.splash-image{
    order: 1;
 }
.sign-up-form{
    order: 2;
    text-align: center;
}

.see-friends{
    color: grey;
    width: 180px;
    margin-left: 80px;

}


.log-in-with-facebook button{
    background-color:  #0095f6;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
    width: 300px;
    font-weight: bold;
    cursor: pointer;

}

.or-divider{
    font-weight: 700;
    position: relative;
    font-size: 1.2rem;
    color: grey;

}

.or-divider::before,
.or-divider::after {
  content: "----------------------";

}

.sign-up-form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sign-up-form input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    padding: 9px 0 7px 8px;
}

.sign-up-button button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color:  #0095f6;
    color: white;
    height: 30px;
    width: 300px;
    font-weight: bold;
    cursor: pointer;
}

.log-in-container{
    display: flex;
    margin-top: 60px;
}

.log-in-form-container{
    order: 2;
    border: 1px solid grey;
    height: 350px;
    width: 350px;
    margin-bottom: 50px;
}

 .log-in-box{
    border: 1px solid grey;
    width: 350px;
    margin-top: 20px;
 }

 .log-in-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
 }

input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.log-in button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(52, 121, 211);
    color: white;
    width: 300px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up-box{
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 70px;
}

.facebook-login {
    margin: 20px;
    text-align: center;

}

.sign-up-box{
    /* margin: 20px 0px 20px 0px; */

}
.sign-up-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
 }

 .phones-image img{
     height: 550px;
 }

 .get-app{
    display: flex;
 }

 .get-app{
     display: flex;
 }
 .get-app p{
    font-size: 14px;
    text-align: center;
 }
 .app-icon-container{
    text-align: center;
 }
 .apple-image img {
    margin: 10px;
    width: 100px;
 }
 .google-image img{
     margin: 10px;
     width: 100px;
 }

 .forgot{
     text-align: center;
 }

 .icon h1{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Billabong', sans-serif;
    font-size: 50px;
    font-style: italic;
    margin: 20px;
}

 footer {
     display: flex;
     flex-direction: column;

 }

 .footer-links{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin-bottom: 1rem;

 }

 .footer-links a{
     color: lightgrey;
 }
