li{
    list-style-type: none;
  }
.navbar{
    border-bottom: 1px solid rgb(209, 207, 207);
}
.navbar a{
    font-family: Billabong;
    color: black;
    font-size: 25px;
}
.navlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
    max-width: auto;
}
.navbar-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7px
}

.logout-button {
    text-decoration: none;
    cursor: pointer;
}

.dropdown-ul{
    position: absolute;
    margin: 5px;
    margin-left: -4.5%;
    padding:20px;
    border: 2px solid rgb(209, 207, 207);
    /* border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;     */
    background-color: pink;
    height: 200px;
    width: 240px;
    border-radius: 5px;
    background-color: white;
    text-align: -webkit-match-parent;
    position: absolute;
    outline-style:none;
    margin-top: 10px;
}

.drop-list{
    padding: 4px;
    margin: 10px;
}

.logout {
    border-top: 1px solid rgb(209, 207, 207);
}

.right-list{
    padding: 0px 20px;
}
.search-bar {
    width: 200px;
    height: 20px;

    padding-right: 10px;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
}
.search-bar input{

    font-size: 10pt;
    text-align: center;
    border: none;
}
.search-result{
    border: 2px solid rgb(209, 207, 207);
}
.bottom a{
    font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,Helvetica,Arial,sans-serif;
    font-size: 15px;
}
